.travel {
    width: 350px;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 20px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.travel div {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    margin-top: 30px;
}

.travel div h5 {
    color: #33439B;
    font-size: 12px;
}

.travel div h1 {
    margin: 15px 0;
    font-size: 1.6em;
}

.travel div p {
    color: #7B8591;
    line-height: 23px;
    font-size: 15px;
}