
.card {
    display: flex;
    width: 340px;
    margin: 25px;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.card div h1 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.card div p {
    font-size: 16px;
    color: #7B8591;
}